body { 
	font-family: Consolas, monaco, monospace;
	text-align: center;
	font-size: 25px;
	background: #e7e7e7;
}

.center {
	height: 75%;
	width: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 600px) {
.history{
	visibility: hidden;
	font-size: 9.5px;
	position:absolute;
	bottom:40%;
	right:0;
}

footer {
	font-size: 25px;
	bottom: 0%;
	width: 99%;
	position: absolute;
	text-align: center;
}

